@import "~normalize.css";

// Artboard
#artBoard {
    background-color: #d0ffdc;
    min-height: 100vh;
    position: relative;
}

// Shape
.shape {
    position: absolute;
    background-color: red;
    transition: transform 2s;

    &--spin {
        transform: rotate(360deg);
    }
}

