@import "~normalize.css";

body {
    background-color: #f7f6ff;
    min-height: 100vh;
    position: relative;

    .example {
        display: grid;
        transition: all .5s;
        user-select: none;
        background: linear-gradient(to bottom, white, black);
    }

}

.shape {
    position: absolute;
    background-color: red;
    transition: transform 2s;

    &--spin {
        transform: rotate(360deg);
    }
}

